<form method="POST">
    {% csrf_token %}
    {{form}}
    <input type="submit" name="calc" value="calc">
</form>

{% if request.GET.result %}
    RESULT: {{request.GET.result}}
{% endif %}

<table>
    <tr>
        <th>x</th>
        <th>operation</th>
        <th>y</th>
        <th>result</th>
        <th>view</th>
    </tr>
    {% for result in results %}
        <tr>
            <td>{{result.x}}</td>
            <td>{{result.operation}}</td>
            <td>{{result.y}}</td>
            <td>{{result.result}}</td>
            <td>
                <a href="{{result.get_absolute_url}}">
                    view
                </a>
            </td>
        </tr>
    {% endfor %}
</table>